setuptools>=65.0.0
wheel

Flask
requests
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
altair
annotated-types
anyio
async-timeout
attrs
beautifulsoup4
blinker
Brotli
bs4
cachetools
camelot-py
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
Crawl4AI
cryptography
cssselect
cycler
dataclasses-json
defusedxml
distro
easyocr
et_xmlfile
exceptiongroup
fake-http-header
fake-useragent
fastapi
filelock
fonttools
fpdf
freetype-py
frozenlist
fsspec
fuzzywuzzy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
humanize
idna
importlib_metadata
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
litellm
lxml
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
mdurl
mpmath
multidict
mypy_extensions
narwhals
nest-asyncio
networkx
nltk
numpy
openai
opencv-python
opencv-python-headless
openpyxl
orjson
packaging
pandas
pdfminer.six
pillow
playwright
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycairo
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
Pygments
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
rank-bm25
RapidFuzz
referencing
regex
reportlab
requests-toolbelt
rich
rlPyCairo
rpds-py
rsa
safetensors
six
smmap
sniffio
snowballstemmer
soupsieve
SQLAlchemy
starlette
streamlit
streamlit-chat
sympy
tabulate
tavily-python
tenacity
tf-playwright-stealth
tiktoken
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
uritemplate
urllib3
uvicorn
watchdog
Werkzeug
xlsxwriter
xxhash
yarl
zipp
zstandard
zipp==3.23.0
zstandard==0.23.0
